// // // // // // // // // // // // // // //

.section {
    max-width: 548px;
    padding: 0 24px;
    margin: -92px auto 71px auto;

    @media only screen and (min-width: 600px) {
        max-width: 588px;
        margin: -142px auto 52px auto;
    }
}

.wrapper {
    position: relative;
}

// // // // // // // // // // // // // // //

.inputBox {
    height: 48px;
    margin-bottom: 16px;
    border-radius: 5px;

    background-color: var(--color-box-bg);
    box-shadow: var(--box-shadow-main);

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    transition: background-color 0.15s, box-shadow 0.15s;

    &::after {
        content: '';
        border-radius: 50%;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 20px;
        border: 1px solid var(--color-veryLightGrayBlue---veryDarkGrayBlue);
        transition: border 0.15s;

        @media only screen and (min-width: 600px) {
            width: 24px;
            height: 24px;
            left: 24px;
        }
    }

    @media only screen and (min-width: 600px) {
        height: 64px;
        margin-bottom: 24px;
    }
}

.input {
    z-index: 2;

    width: 100%;
    height: 100%;
    padding-left: 52px;
    border-radius: 5px;

    border: none;
    cursor: pointer;
    background-color: transparent;

    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.166667px;
    color: var(--color-text);
    caret-color: var(--color-bright-blue);
    transition: color 0.15s;
    touch-action: manipulation;

    &:focus {
        outline: none;
    }

    &::placeholder {
        color: var(--color-lightGrayBlue---darkGrayBlue);
    }

    @media only screen and (min-width: 600px) {
        font-size: 18px;
        line-height: 18px;
        letter-spacing: -0.25px;
        padding-left: 72px;
    }
}

.add {
    color: #3a7cfd;
    padding: 0 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: -0.194444px;

    height: 100%;
    border-radius: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;

    transition: transform 0.1s, background-color 0.1s;

    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }

    &:active {
        transform: scale(0.95);
    }

    @media only screen and (min-width: 600px) {
        font-size: 16px;
        padding: 0 24px;
    }
}

// // // // // // // // // // // // // // //

.innerWrapper {
    background-color: var(--color-box-bg);
    box-shadow: var(--box-shadow-main);
    transition: background-color 0.15s, box-shadow 0.15s;
    border-radius: 5px;

    position: relative;
    z-index: 5;
}

// // // // // // // // // // // // // // //

.todosBox {
    overflow: scroll;
    max-height: 520px;

    @media only screen and (min-width: 600px) {
        max-height: 640px;
    }
}

.todo {
    height: 52px;
    cursor: pointer;
    transition: border 0.15s;

    display: flex;
    align-items: center;

    &:not(:last-child) {
        border-bottom: 1px solid
            var(--color-veryLightGrayBlue---veryDarkGrayBlue);
    }

    @media only screen and (min-width: 600px) {
        height: 64px;
    }

    &:hover .todoCircle {
        border: none;
        background-image: var(--linear-gradient-bg);
    }
}

.todoCircle {
    width: 20px;
    height: 20px;
    margin-left: 20px;
    margin-right: 12px;
    border-radius: 50%;

    border: 1px solid var(--color-veryLightGrayBlue---veryDarkGrayBlue);
    transition: border 0.15s;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (min-width: 600px) {
        width: 24px;
        height: 24px;
        margin-left: 24px;
        margin-right: 24px;
    }
}

.todoCircleTop {
    width: 18px;
    height: 18px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    border-radius: 50%;
    background-color: var(--color-box-bg);
    transition: background-color 0.15s;

    @media only screen and (min-width: 600px) {
        width: 22px;
        height: 22px;
    }
}

.iconCheck {
    width: 9px;
    height: 7px;

    position: relative;

    @media only screen and (min-width: 600px) {
        width: revert;
        height: revert;
    }
}

// // // // // // // // // // // // // // //

.todoText {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.166667px;
    color: var(--color-text);
    transition: color 0.15s;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    @media only screen and (min-width: 600px) {
        font-size: 18px;
        line-height: 18px;
        letter-spacing: -0.25px;
    }
}

.iconCross {
    padding: 15px 15px;
    width: 42px;
    height: 42px;
    margin-right: 5px;

    display: block;
    margin-left: auto;
    border-radius: 5px;
    transition: background-color 0.1s;

    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }

    @media only screen and (min-width: 600px) {
        width: 46px;
        height: 44px;
        padding: 13px 14px;
        margin-right: 10px;
    }
}

// // // // // // // // // // // // // // //

.default {
    height: 52px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    p {
        color: var(--color-text);
        // color: var(--color-lightGrayBlue---darkGrayBlue);
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: -0.166667px;
        transition: color 0.15s;

        @media only screen and (min-width: 600px) {
            font-size: 18px;
            line-height: 18px;
            letter-spacing: -0.25px;
        }
    }

    @media only screen and (min-width: 600px) {
        height: 64px;
    }
}

// // // // // // // // // // // // // // //

.bottomBox {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 51px;
    border-top: 1px solid var(--color-veryLightGrayBlue---veryDarkGrayBlue);
    margin-bottom: 16px;

    color: var(--color-lightGrayBlue---darkGrayBlue);
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.166667px;

    transition: border 0.15s;

    @media only screen and (min-width: 600px) {
        font-size: 14px;
        line-height: 14px;
        letter-spacing: -0.194444px;
    }
}

.left {
    padding-left: 20px;
    transition: color 0.15s;

    @media only screen and (min-width: 600px) {
        padding-left: 24px;
    }
}

.clearBtn {
    border: none;
    background-color: transparent;
    padding: 0 20px;
    height: 100%;

    color: inherit;
    transition: color 0.15s;
    cursor: pointer;

    &:hover {
        color: var(--color-text);
    }

    @media only screen and (min-width: 600px) {
        padding: 0 24px;
    }
}

// // // // // // // // // // // // // // //

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    border-radius: 5px;

    background-color: var(--color-box-bg);
    box-shadow: var(--box-shadow-main);
    transition: background-color 0.15s, box-shadow 0.15s;

    position: relative;
    z-index: 10;

    @media only screen and (min-width: 600px) {
        height: 51px;
        background-color: transparent;
        box-shadow: none;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
    }
}

@mixin footerBtns {
    border: none;
    background-color: transparent;
    height: 100%;
    padding: 0 9px;

    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: -0.194444px;

    color: var(--color-lightGrayBlue---darkGrayBlue);
    transition: color 0.15s;
    cursor: pointer;

    &:hover {
        color: var(--color-active-text) !important;
    }
}

.allBtn {
    @include footerBtns();
    color: var(--color-bright-blue);
}

.activeBtn {
    @include footerBtns();
}

.completedBtn {
    @include footerBtns();
}

// // // // // // // // // // // // // // //

.footerText {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: -0.194444px;

    color: var(--color-lightGrayBlue---darkGrayBlue);
    transition: color 0.15s;

    margin-top: 40px;

    @media only screen and (min-width: 600px) {
        margin-top: 49px;
    }
}

// // // // // // // // // // // // // // //
